<div class="col-10 offset-1 about">
  <h1>About Noize</h1>

  <p>
    Noize was built by <a target="_blank" href="http://charlietyler.co.uk">Charlie Tyler</a>.
  </p>
  <p>
    The aim of the site is to provide motivation to help athletes perform at thier best.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'ct_dp.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Charlie Tyler</h2>
      <br />
      <p>
        Charlie Tyler is a student at the Firehose project
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />

