<h2>
  <span>Noize / No. <%= @quote.id %></span>
  <br>
  <small>Only the best sports motivation!<small>
</h2>

<br />

<h1>"<%= @quote.saying %>"</h1>
<h2 class="float-right">- <%= @quote.author %></h2>

<br clear="clear" />
<br />
<br />
<br />